@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a{
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

.container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 30px;
}

.logo a{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

table {
  border-collapse: collapse;
  width: 100%;
}

span{
  display: block;
  text-align: center;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: inherit;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

/* form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
} */

.form {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.action-btns{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn-sm {
  padding: 5px 15px;
  font-size: 13px;
}

.btn:hover {
  transform: scale(0.98);
}